body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font: Arial;
    background-color: aquamarine;
}

.quadrado {
    max-width: 800px;
    padding: 20px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 30px;
    background-color: #ffffff;
}

table {
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 8px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}